.idea/
**/__pycache__/
**.pdf
**.json
**.csv
**/files
*.egg-info/
dist/
build/
.venv/
.pytest_cache/
test-reports/
.DS_Store
cache/
main.py
*.db
.eggs/
test/
manual_test/
prem_cache.sqlite
cache.sqlite
